body{
    scroll-behavior: smooth;
    margin:0;
    background-color: black;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
    font-family: 'Onest', sans-serif;
}

a,u{
   text-decoration: none;
   color: inherit;
}


.navbar{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    height: 100px;
    width: 100%;
    background-color:rgb(159, 76, 253) ;
    border: 5px solid rgb(159, 76, 253);
}


.nav_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50%;
    background-color: azure;
    color: black;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
}

#About{
    display: flex;
    height: 700px;
    width: 100%;
    //border: 1px solid white;
}


#Skills{
    display: flex;
    height: 700px;
    width: 100%;
   // border: 1px solid white;
}


.desc_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 60%;
    //border: 1px solid white;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 400px;
    width: 100%;
    //border: 1px solid ywllow;
}


.main_head{
    display: flex;
    align-items: center;
    font-size: 4rem;
    //border: 1px solid white;
}


.main_head_2{

    //border: 1px solid white;
    font-size: 1.5rem;
}

.auto-type{
    font-size: 6rem;
    color: rgb(159, 76, 253);
    font-weight: bolder;
}

.skill{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    height: 500px;
    width: 80%;
}

.skill_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 30%;
    border: 5px solid rgb(255, 154, 65);
    border-radius: 10px;
    font-size: 1.3rem;
}




.img_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 40%;
    //border: 1px solid white;
}

.imag{
    height: 400px;
    width: 80%;
    //border: 1px solid white;
}

img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.special{
    margin-left: 30px;
    height: 100%;
    width: 80%;
    object-fit:cover;
}



#AboutMe{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color:black;
}

#top{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: rgb(159, 76, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 10rem;
    font-weight: bolder;
    overflow: hidden;
    
}

#center{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 2.2rem;
    word-spacing: 5px;
    background-color: black;
    text-align: center;
}


#about_cont{
    width: 60%;
    margin-top: 20%;
    margin-right: 5%;
}


#bottom{
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
    background-color: rgb(159, 76, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Cabin', sans-serif;
    font-size: 10rem;   
    font-weight: bolder; 
    overflow: hidden;
}

#about_head_1{
    margin-top:25%;
}

#about_head_2{
    margin-bottom:25%;
}






#Education{
    margin-top: 40%;
    height: 1400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.edu_head{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    height: 100px;
    width: 100%;
background-color: rgb(255, 154, 65);
    font-weight: bold;
}

.edu_cont{
    height:900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   // border: 1px solid white;
   gap:1rem;
}


.edu_card{

    height: 150px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    border-radius: 10px;
    font-size: 1.4rem;
    gap: 2rem;

}


.edu_img{
    //flex-grow: 1;
    //border: 1px solid white;
    height: 80%;
    width: 30%;
}


#Experience{

    display: flex;
    justify-content: center;
    gap:1rem;
    height: 1500px;
    width: 100%;
}


.exp_static{
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    width: 40%;
    background-color: rgb(253, 253, 253);
    font-size: 4rem;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: bolder;
}


.exp_var{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 1500px;
    width: 50%;
    border-left: 10px solid rgb(159, 76, 253);
}

.exp_card{
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;


}


.exp_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
    //border: 1px solid white;
}

.exp_dur{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    //border: 1px solid white;
    font-size: 1.6rem;
}

.exp_learnt{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 1.1rem;
}


#Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(159, 76, 253);
    margin-top: 15%;
    height: 600px;
    width: 100%;
    text-align: center;
    gap: 2rem;
}


.foot_head{
    font-size: 10rem;
}


.foot_cont{
    margin-left: 12%;
    display: flex;
    align-items: center;
    height: 60px;
    width: 75%;
}

.foot_cont_img{
    width: 15%;
    height: 100%;
}



